# Carpetas y archivos temporales de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsdx
*.json
swBiblioteca/swBiblioteca/bin/Debug/net10.0-windows/pt-BR/Microsoft.Data.SqlClient.resources.dll
swBiblioteca/swBiblioteca/bin/Debug/net10.0-windows/pl/Microsoft.Data.SqlClient.resources.dll
*.dll
